.main_div_exp{
  height:100vh;
  width: 100%;
  margin:  0;
  padding: 0;
  overflow: hidden;
  }
.main_div_e{
  margin: 0 12% 0 12%;
  }
   h2{
    text-align: center;
    font-size: clamp(26px,5vw,32px);
  }
  .main_divsec {
    display: flex;
    justify-content: space-around;
    margin-top:2%;
  }
  .main_divsec>div{
    position: relative;
    padding-left: 0% ;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 40%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  }
  
  .job_title {
    text-align: center;
    font-size: clamp(22px,5vw,16px);
    height: 10%;
  }
  .job_duties{
    height: 50vh;
    padding-left: 5%;
  }
  .job_duties ul{
    list-style: none;
    text-align: left;
    padding: 0;
  }
  .job_duties li{
    margin: 2%;
  }
  .job_duties li::before{
    content: "➢";
    display: inline-block;
    margin-left: -1.4em; 
    width: 1.4em; 
  }
  .techs_worked{
    text-align: center;
    word-spacing: 30px;
    padding: 0.2em;
  }

  @media only screen and (max-width: 769px) {
    .main_div_exp{
      height: 130vh;
    }
    .main_div_e{
      margin: 0;
    }
    .main_divsec{
      margin: 0 4%;
    }  
    .section_title h2{
      text-align: center;
      width:100%;
    }
    .main_divsec {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
    }
    .main_divsec>div{
      position: relative;
      margin: 4% 0;
      padding:0 1% ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 130%;
      width: 100%;
    }
    
  .job_duties{
    height: 80%;
  } 
  .techs_worked{
    margin-top: 20px;
    text-align: left;
    word-spacing: 30px;
    padding: 0.2em;
  }
  }