.main_div{
    height:100vh;
    width: calc(100% - 9px);
    margin: 0 ;
    padding: 0;

}
.main_sec{
    position: absolute;
    margin: 0 1% 0 11%;
    background:transparent;
    top:45%;
    left:30%;
    transform: translate(-50%,-40%);
}
section h1{
    margin: 2%;
    padding: 0;
}
.h_1{
    font-family: 'Source Code Pro' !important;
    font-size: clamp(14px,5vw,16px);
}
.h_2{
    font-size: clamp(42px, 8vw, 78px);
    line-height: 1.1;
}
.h_3{
    font-size: clamp(25px, 6vw, 52px);

}


@media only screen and (max-width: 600px){
    .main_sec{
        margin-top: 100px;
        width: 95%;
        transform: translate(-35%,-105%);
    }
    section h1{
        margin: 2%;
        padding: 0;
    }
    .h_1{
        font-size: 120%;

    }
  }